body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

a {
  color: #242424;
  text-decoration: none;
  background-color: white;
  border-radius: 50px;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #f9f8ff;
}

p,
li {
  font-size: 1.1em;
  color: #f9f8ff;
}

.entete,
.pied-de-page {
  background-color: white;
}

.carre-contenu {
  border-bottom: 1px solid #A5B4FC;
  border-right: 1px solid #A5B4FC;
}
